.center {
  text-align: center;
}
/*
.container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  
}
*/

.container {
  display: grid;
}

.gridItem {
  padding: 15px;
  border: 1px solid black;
}
